@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body{
	width: 500px;
	margin: 2% auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body, #input{
	font-family: 'PT Serif', serif;
	font-size: 1.8rem;
}

.container{
	-webkit-box-shadow: 0px 0px 6px 3px #eee;
	-moz-box-shadow: 0px 0px 6px 3px #eee;
	box-shadow: 0px 0px 6px 3px #eee;
	border: 1px solid rgba(0,0,0,.1);
	padding: 20px;
	background-color: rgba(220,220,220,.4);
	position: relative;
}

#input {
	resize:none;
	font-size: 2.3rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height .8s;
	 -o-transition: height .8s;
	-moz-transition: height .8s;
	transition: height .8s;
	border: 2px solid rgba(0, 148, 222, 1);
	border-radius: 3px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	outline: none; 
	height: 65px; 
	width: 100%; 
	margin-bottom: 20px;
	text-align:right;
	padding: 5px;
	letter-spacing: 2px;
}

.number-pad > div > div {
	border: 1px solid rgba(0, 0, 0, .1);
	margin: 5px;
	margin-bottom: 10px;
	padding: 10px 5px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 2px 0px #ddd;
	-moz-box-shadow: 2px 2px 2px 0px #ddd;
	box-shadow: 2px 2px 2px 0px #ddd;

	background-color: rgba(225, 225, 225, .4);
	display: inline-block;
	width: 19%;
	cursor: pointer;
}

.number-pad > div > .br{
	width: 6.4%;
}

.number-pad > div > .no-num{
	background-color: rgba(110, 164, 184, .1);
}

.number-pad > div > .result{
	background-color: rgba(0, 144, 196, .3);
}

.number-pad > div > .delete{
	background-color: rgba(221,190,195,0.3);
}

.number-pad > div > .no-num:hover{
	background-color: rgba(110, 164, 184, .3);
}

.number-pad > div > .result:hover{
	background-color: rgba(0, 144, 196, .7);
}

.number-pad > div > .delete:hover{
	background-color: rgba(221,190,195, .7);
}

.number-pad > div > div:hover {
	background-color: rgba(153, 153, 153, .3);
}

.number-pad > div > div:active {
	-webkit-box-shadow: -1px -1px 1px 1px #ddd;
	-moz-box-shadow: -1px -1px 1px 1px #ddd;
	box-shadow: -1px -1px 1px 1px #ddd;
}

.backspace{
	background: url(../img/backspace.png) center no-repeat;
	-webkit-background-size: 40% 50%;
	-o-background-size: 40% 50%;
	-moz-background-size: 40% 50%;
	background-size: 40% 50%;
}

.plus-minus{
	background: url(../img/plusMinus.png) center no-repeat;
	-webkit-background-size: 25% 55%;
	-o-background-size: 25% 55%;
	-moz-background-size: 25% 55%;
	background-size: 25% 55%;
}

.mult{
	background: url(../img/mult.png) center no-repeat;
  -webkit-background-size: 25% 40%;
  -o-background-size: 25% 40%;
  -moz-background-size: 25% 40%;
  background-size: 25% 40%;
}

.dvsn{
	background: url(../img/dvsn.png) center no-repeat;
  -webkit-background-size: 30% 50%;
  -o-background-size: 30% 50%;
  -moz-background-size: 30% 50%;
  background-size: 30% 50%;

}

.subt{
	background: url(../img/subt.png) center no-repeat;
  -webkit-background-size: 30% 20%;
  -o-background-size: 30% 20%;
  -moz-background-size: 30% 20%;
  background-size: 30% 20%;
}

.add{
	background: url(../img/add.png) center no-repeat;
  -webkit-background-size: 30% 50%;
  -o-background-size: 30% 50%;
  -moz-background-size: 30% 50%;
  background-size: 30% 50%;
}

.result{
	background: url(../img/result.png) center no-repeat;
  -webkit-background-size: 30% 40%;
  -o-background-size: 30% 40%;
  -moz-background-size: 30% 40%;
  background-size: 30% 40%;
}

.message{
	display: none;
	position: absolute;
	right: 20px;
	top:10px;
}

.message > div{
	margin: 0px;
	z-index: 2;
	position: absolute;
}

.loz{
	top: 15px;
	width: 0px;
  height: 0px;
  margin-top: 50px;
  border-right: 50px solid #ff6161;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.boxMsg{ 
	left: 40px;
	width: 250px;
	height: 50px;
	background-color: #ff9c9c;
	border: 5px solid #ff6161;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: black;
	padding: 15px 10px 0px;
	text-align: center;
	font-size: 1.4rem;
	text-shadow: 0px 0px 5px #fff;
}